/* .icon {
  width: 100px;
  height: 100px;
}

.icon:hover .letter {
  fill: palevioletred;
}

.icon:hover .background {
  fill: green;
} */
.link {
  background-color: transparent;
  padding: 30px;
  border: 1px solid sandybrown;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: #2196f3;
}

.link-svg {
  fill: red;
}

.link:hover .link-svg {
  fill: green;
}
.link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.facebook-icon {
  width: 70px;
  height: 70px;
}

/* .link:hover {
  border-color: brown;
} */
/* .link:hover .fb-letter {
  fill: rgb(255, 0, 0);
}
.link:hover .fb-bg {
  fill: rgb(27, 255, 175);
} */

.svg-container {
  width: 50px;
  height: 50px;
  fill: currentColor;
}

.link:hover .svg-container {
  fill: red;
}
/* .svg-container {
  fill: currentColor;
} */

.svg-container:hover {
  fill: currentColor;
}

/* .svg-container:hover .fb-bg {
  fill: rgb(27, 255, 175);
} */
