@charset "UTF-8";
/* Utils */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;700;900&family=Raleway:wght@700&display=swap");
.best-barber, .service, .our-choice, .our-masters, .gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero__btn, .best-barber__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
  padding: 12px 23px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.hero__btn:hover, .best-barber__btn:hover, .hero__btn:focus, .best-barber__btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.aside-links__item, .footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.2em;
  color: #303030;
  text-decoration: none;
  transition: color 0.3s;
}

.aside-links__item:hover, .footer__link:hover {
  color: #ff6c00;
}

/* Common styles - Загальні стилі */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.c-uptitle {
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 11px;
  color: #303030;
  text-transform: uppercase;
  position: relative;
}

.c-uptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #303030;
}

.c-uptitle > p {
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0;
}

.c-title {
  font-family: "Raleway", sans-serif;
  color: #303030;
  font-size: 42px;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}

.c-text-14 {
  font-size: 14px;
  line-height: 1.8;
  color: #555555;
}

.c-text-14,
.c-text-18,
.c-title {
  margin-top: 0;
}

.c-text-18 {
  font-size: 18px;
  line-height: 1.6;
  color: #555555;
}

.c-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
  padding: 12px 23px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.c-btn--dark {
  color: #303030;
}

.c-btn:hover, .c-btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

/* Common styles - Загальні стилі */
/* Base */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Components */
/* Hero section */
.hero {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

.hero__aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
}

.aside-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: auto;
}

.aside-links > li:not(.line-decorator) {
  margin-bottom: 30px;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}

.line-decorator {
  width: 1px;
  height: 60px;
  background: #303030;
}

.hero__main {
  position: relative;
  background-color: rgba(25, 28, 38, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.hero__img {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-right: 55px;
  padding-left: 100px;
  z-index: 1;
}

.hero__wrapper {
  margin-bottom: 140px;
}

.hero__uptitle {
  color: rgba(157, 164, 189, 0.6);
}

.hero__uptitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  font-size: 72px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}

.hero__description {
  color: #9da4bd;
  max-width: 486px;
}

.hero__bullets {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 55px;
  z-index: 1;
  transform: translateY(-50%);
}

.hero__bullet,
.hero__bullet > button {
  cursor: pointer;
}

.hero__bullet {
  width: 18px;
  height: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: all 0.3s;
  display: flex;
}

.hero__bullet > button {
  background-color: transparent;
  background-color: #9da4bd;
  border: none;
  width: 8px;
  margin-left: auto;
  height: 100%;
}

.hero__bullet.active > button {
  background-color: #ffffff;
  width: 18px;
}

.hero__controls {
  display: flex;
  justify-content: flex-end;
}

.hero__control {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  background-color: transparent;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.hero__control:hover, .hero__control:focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.hero__control--forward {
  margin-left: 25px;
  padding-right: 0;
  padding-left: 20px;
}

/* Hero section */
.header {
  padding: 34px 40px;
  display: flex;
  z-index: 1;
}

.header__nav {
  margin-right: auto;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-list__item + .nav-list__item {
  margin-left: 40px;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 600;
  padding: 16px 0;
  display: block;
  transition: all 0.3s;
}

.header__link:hover, .header__link:focus {
  color: #ff6c00;
}

.best-barber > .container {
  display: flex;
}

.best-barber__left {
  flex: 1 1 500px;
  display: flex;
}

.best-barber__img:not(:first-child) {
  margin-left: 30px;
}

.best-barber__img > img {
  width: 100%;
}

.best-barber__right {
  flex: 1 1 500px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
}

.best-barber__right > .c-text-14 {
  margin-bottom: 40px;
}

.best-barber__btn {
  color: #303030;
}

.service {
  background-color: #111319;
  background-image: url("../images/service-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service .c-uptitle {
  color: rgba(157, 164, 189, 0.6);
}

.service .c-uptitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.service .c-title {
  color: #ffffff;
  margin-bottom: 44px;
}

.service__tables {
  display: flex;
  margin-bottom: 50px;
}

.service__table {
  flex: 1 1 100%;
  list-style: none;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px 40px;
  margin: 0;
}

.service__table:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.service__item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  color: #9da4bd;
}

.service__item > p {
  margin: 0;
  white-space: nowrap;
  line-height: 1.6;
}

.service__dots {
  width: 100%;
  height: 100%;
  margin: 0 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.service__btn-container {
  text-align: center;
}

.master {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.master:first-child {
  margin-left: 0;
}

.master__img {
  max-width: 100%;
}

.master__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}

.master__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: #ff6c00;
  margin-top: 0;
}

.master__socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.master__social:not(:last-child) {
  margin-right: 10px;
}

.master__social:hover .master__icon,
.master__social:focus .master__icon {
  fill: #ff6c00;
  transition: fill 0.3s;
}

.master__social > a {
  border-radius: 50%;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-choice {
  background-color: #ffffff;
  padding-top: 120px;
}

.our-choice > .container {
  display: flex;
  justify-content: center;
}

.our-choice__left,
.our-choice__right {
  display: flex;
}

.our-choice__left {
  list-style: none;
  padding: 0 100px;
  margin: 0;
  max-width: 570px;
  flex-wrap: wrap;
}

.our-choice__item {
  width: 170px;
  padding: 20px;
  color: #303030;
  background-color: #f7f7f7;
  text-align: center;
}

.our-choice__item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}

.our-choice__item:nth-child(2n - 1) {
  margin-bottom: 30px;
}

.our-choice__item .choice__title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}

.our-choice__item .choice__description {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.our-choice__item .plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  margin-left: 2px;
  color: #ff6c00;
}

.our-choice__right {
  flex-direction: column;
  padding-left: 30px;
  max-width: 530px;
}

.our-choice__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.our-masters {
  background-color: #f7f7f7;
}

.our-masters__title {
  color: #303030;
  margin-top: 0;
  margin-bottom: 40px;
}

.masters {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.gallery__uptitle {
  margin-bottom: 44px;
}

.works {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.work__img {
  display: block;
}

.work__example {
  transition: box-shadow 0.3s;
}

.work__example:not(:last-child) {
  margin-right: 30px;
}

.work__example:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.contact-us {
  background-color: #191c26;
}

.contact-us > .container {
  display: flex;
}

.contact-us__left {
  width: 53%;
  padding-right: 40px;
}

.contact-us__left > .c-title {
  color: #ffffff;
  margin-bottom: 44px;
}

.contact-us__form {
  display: flex;
  flex-wrap: wrap;
}

.contact-us__btn {
  min-width: 160px;
}

.input-group {
  position: relative;
  margin-bottom: 45px;
}

.input-group:nth-child(1), .input-group:nth-child(2) {
  width: calc((100% - 30px) / 2);
}

.input-group:nth-child(2) {
  margin-left: 30px;
}

.input-group:nth-child(3) {
  width: 100%;
}

.input-group .input-group__label {
  position: absolute;
  left: 0;
  top: 1px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 0.3s, transform 0.3s;
}

.input-group__input {
  height: 24px;
  width: 100%;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  transition: border 0.3s;
  color: #ffffff;
  background-color: transparent;
}

.input-group__input:focus {
  border-bottom: 1px solid #ffffff;
}

.input-group__input:focus + .input-group__label,
.input-group__input:not(:placeholder-shown) + .input-label {
  transform: translate(0, -20px);
  color: #ffffff;
}

.input-group__input--textarea {
  resize: none;
  height: 75px;
}

.contact-us__left,
.contact-us__right {
  padding-top: 130px;
  padding-bottom: 130px;
}

.contact-us__right {
  width: 47%;
  background-image: url("../images/bg-contacts.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 100px;
}

.contact-us__right .c-title {
  color: #ffffff;
}

.address {
  display: block;
  margin-top: 40px;
  font-style: normal;
}

.address__link {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 20px;
  text-decoration: none;
  color: #9da4bd;
}

.address__link svg {
  margin-right: 20px;
  margin-top: 4px;
}

.timetable {
  margin-top: 70px;
}

.timetable .c-uptitle::before {
  background: rgba(157, 164, 189, 0.4);
}

.timetable__title {
  color: #ffffff;
}

.timetable__hours {
  color: #9da4bd;
  font-size: 18px;
}

.footer {
  background-color: #f7f7f7;
  padding: 56px 0;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer__copyright {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer__links {
  display: flex;
  position: relative;
  align-items: center;
}

.footer__links::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.footer__link {
  margin-left: 40px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */