:root {
  --title-color: #303030;
  --biege-bg-color: #f7f7f7;
  --lighter-text-color: #9da4bd;
  --gray-text-color-60: rgba(157, 164, 189, 0.6);
  --darker-text-color: #555555;
  --accent-color: #ff6c00;
  --white: #ffffff;
  --transition-duration: 0.3s;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  margin: 0;
}

/* Common styles - Загальні стилі */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

.c-section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.c-uptitle {
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 11px;

  color: var(--title-color);
  text-transform: uppercase;
  position: relative;
}
.c-uptitle > p {
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0;
}
.c-uptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--title-color);
}
.c-title {
  font-family: "Raleway", sans-serif;
  color: var(--title-color);
  font-size: 42px;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}
.c-text-14 {
  font-size: 14px;
  line-height: 1.8;

  color: var(--darker-text-color);
}
.c-text-14,
.c-text-18,
.c-title {
  margin-top: 0;
}
.c-text-18 {
  font-size: 18px;
  line-height: 1.6;

  color: var(--darker-text-color);
}

.c-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  color: var(--white);
  padding: 12px 23px;

  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--transition-duration);
}
.c-btn--dark {
  color: var(--title-color);
}
.c-btn:hover,
.c-btn:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
/* Common styles - Загальні стилі */

/* Hero section */
.hero {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  width: 1280px;
  margin: 0 auto;
}
.hero-aside {
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
}
.aside-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: auto;
  /* margin-top: auto; */
}
.aside-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;

  letter-spacing: 0.2em;

  color: var(--title-color);
  text-decoration: none;
  transition: all var(--transition-duration);
}
.aside-link:hover {
  color: var(--accent-color);
}

.aside-links > li:not(.line-decorator) {
  margin-bottom: 30px;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}

.line-decorator {
  width: 1px;
  height: 60px;

  background: var(--title-color);
}
.hero-main {
  position: relative;
  /* background-image: url("../images/slider-1.jpg"); */
  background-color: rgba(25, 28, 38, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.hero-img {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header {
  padding: 34px 40px;
  display: flex;
  z-index: 1;
  /* justify-content: space-between; */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
}
.header-nav {
  margin-right: auto;
}

.nav-item + .nav-item {
  margin-left: 40px;
}

.nav-item > .nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 600;
  padding: 16px 0;
  display: block;
  transition: all var(--transition-duration);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-right: 55px;
  padding-left: 100px;
  z-index: 1;
}
.hero-wrapper {
  margin-bottom: 140px;
}
.hero-uptitle {
  color: var(--gray-text-color-60);
}
.hero-uptitle::before {
  background-color: var(--gray-text-color-60);
}

.hero-title {
  font-size: 72px;
  letter-spacing: 0.05em;
  color: var(--white);

  margin-bottom: 20px;
  margin-top: 0;
}
.hero-description {
  color: var(--lighter-text-color);
  max-width: 486px;
}

.hero-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 55px;
  z-index: 1;
  transform: translateY(-50%);
}

.hero-bullet,
.hero-bullet > button {
  cursor: pointer;
}
.hero-bullet {
  width: 18px;
  height: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: all var(--transition-duration);
  display: flex;
}
.hero-bullet > button {
  background-color: transparent;
  background-color: var(--lighter-text-color);
  border: none;
  width: 8px;
  margin-left: auto;
  height: 100%;
}
.hero-bullet.active > button {
  background-color: var(--white);
  width: 18px;
}

.hero-controls {
  display: flex;
  justify-content: flex-end;
}
.control-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--gray-text-color-60);

  border: none;
  border-bottom: 1px solid var(--gray-text-color-60);
  background-color: transparent;

  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 0;

  transition: all var(--transition-duration);
  cursor: pointer;
}

.control-btn:hover,
.control-btn:focus {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.forward {
  margin-left: 25px;
  padding-right: 0;
  padding-left: 20px;
}
/* Hero section */

.best-barber > .container {
  display: flex;
}

.best-barber-left {
  flex: 1 1 500px;
  display: flex;
}
.best-barber-img:not(:first-child) {
  margin-left: 30px;
}
.best-barber-img > img {
  width: 100%;
}
.best-barber-right {
  flex: 1 1 500px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
}

.best-barber-right > .c-text-14 {
  margin-bottom: 40px;
}
.service {
  background-color: #111319;
  background-image: url("../images/service-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service .c-uptitle {
  color: var(--gray-text-color-60);
}
.service .c-uptitle::before {
  background-color: var(--gray-text-color-60);
}
.service .c-title {
  color: var(--white);
  margin-bottom: 44px;
}

.service-tables {
  display: flex;
  margin-bottom: 50px;
}
.service-table {
  flex: 1 1 100%;
  list-style: none;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px 40px;
  margin: 0;
}
.service-table:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.service-table-item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  color: var(--lighter-text-color);
}
.service-table-item > p {
  margin: 0;
  white-space: nowrap;
  line-height: 1.6;
}
.service-dots {
  width: 100%;
  height: 100%;
  margin: 0 6px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}
.service-btn-conrainer {
  text-align: center;
}

.our-choice {
  background-color: var(--white);
  padding-top: 120px;
}

.our-choice > .container {
  display: flex;
  justify-content: center;
}

.our-choice__left,
.our-choice__right {
  display: flex;
}
.our-choice__left {
  list-style: none;
  padding: 0 100px;
  margin: 0;

  max-width: 570px;
  flex-wrap: wrap;
}
.our-choice-item {
  width: 170px;
  padding: 20px;

  color: var(--title-color);
  background-color: var(--biege-bg-color);
  text-align: center;
}
.our-choice-item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}
.our-choice-item:nth-child(2n - 1) {
  margin-bottom: 30px;
}
.our-choice-item .item-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;

  margin-bottom: 6px;
}
.our-choice-item .item-description {
  margin: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
.our-choice-item .plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  margin-left: 2px;

  color: var(--accent-color);
}
.our-choice__right {
  flex-direction: column;
  padding-left: 30px;
  max-width: 530px;
}
.best-barber__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.our-masters {
  background-color: var(--biege-bg-color);
}

.our-masters-title {
  color: var(--title-color);

  margin-top: 0;
  margin-bottom: 40px;
}

.masters {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.master {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}
.master:first-child {
  margin-left: 0;
}
.master-img {
  max-width: 100%;
}
.master-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;

  color: var(--title-color);
  margin-top: 30px;
  margin-bottom: 8px;
}
.master-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;

  color: var(--accent-color);
  margin-top: 0;
}
.master-socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.master-social:not(:last-child) {
  margin-right: 10px;
}
.master-social > a {
  border-radius: 50%;
  background-color: var(--white);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-social:hover .social-icon,
.master-social:focus .social-icon {
  fill: var(--accent-color);
  transition: fill var(--transition-duration);
}

.gallery-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery-uptitle {
  margin-bottom: 44px;
}

.works {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.example-img {
  display: block;
}

.work-example {
  transition: box-shadow var(--transition-duration);
}

.work-example:not(:last-child) {
  margin-right: 30px;
}

.work-example:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.contact-us {
  background-color: #191c26;
}

.contact-us > .container {
  display: flex;
}

.contact-left {
  width: 53%;
  padding-right: 40px;
}
.contact-left > .c-title {
  color: var(--white);
  margin-bottom: 44px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form-btn {
  min-width: 160px;
}

.input-group {
  position: relative;
  margin-bottom: 45px;
}

.input-group:nth-child(1),
.input-group:nth-child(2) {
  width: calc((100% - 30px) / 2);
}

.input-group:nth-child(2) {
  margin-left: 30px;
}
.input-group:nth-child(3) {
  width: 100%;
}

.input-group > .input {
  height: 24px;
  width: 100%;

  padding-bottom: 8px;

  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;

  transition: border .3s;
  color: var(--white);
  background-color: transparent;
}

.input:focus {
  border-bottom: 1px solid var(--white);
}

.input:focus + .input-label,
.input:not(:placeholder-shown) + .input-label {
  transform: translate(0, -20px);
  color: var(--white);
}

.input-label {
  position: absolute;
  left: 0;
  top: 1px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
  transition: color .3s, transform .3s;
}

.input.textarea {
  resize: none;
  height: 75px;
}

.contact-left,
.contact-right {
  padding-top: 130px;
  padding-bottom: 130px;
}
.contact-right {
  width: 47%;
  background-image: url("../images/bg-contacts.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-left: 100px;
}
.contact-right .c-title {
  color: var(--white);
}

.address {
  display: block;
  margin-top: 40px;
  font-style: normal;
}

.address-link {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 20px;
  text-decoration: none;

  color: var(--lighter-text-color);
}

.address-link svg {
  margin-right: 20px;
  margin-top: 4px;
}

.timetable {
  margin-top: 70px;
}
.timetable .c-uptitle::before {
  background: rgba(157, 164, 189, 0.4);
}
.timetable-title {
  color: var(--white);
}
.timetable-hours {
  color: var(--lighter-text-color);
  font-size: 18px;
}

.footer {
  background-color: var(--biege-bg-color);
  padding: 56px 0;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;
  color: var(--lighter-text-color);
}

.footer-links {
  display: flex;
  position: relative;
  align-items: center;
}

.footer-links::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: var(--title-color);
}

.footer-link {
  margin-left: 40px;
}

/* 
.footer2 {
    margin-top: 500px;
    margin-bottom: 500px;
    background: #fff2d6;
    padding: 40px 0;
}

.footer2 > .container {
    width: 1440px;
    display: flex;
}

.footer-logo-link {
    display: block;
    margin-bottom: 20px;
}
.footer-logo {
    width: 100%;
}
.footer-text {
    font-size: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.7;

    color: #2a2a2a;

    margin-bottom: 70px;
}

.footer-text--03 {
    opacity: 0.3;
    margin-bottom: 0;
}

.footer-col:first-child {
    width: 321px;
}

.footer-col:nth-child(2) {
    margin-left: 213px;
}

.footer-col:nth-child(3) {
    margin-left: 150px;
}

.footer-col:last-child {
    margin-left: 266px;
}
.footer-col:nth-child(2),
.footer-col:nth-child(3),
.footer-col:last-child {
    margin-top: 40px;
}

.footer-links2 {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 0;
    list-style: none;
}

.footer-item {
    margin-bottom: 30px;
}

.footer-link2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;

    color: #2a2a2a;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 250ms ease-out;
}
.footer-link2:hover {
    color: #8d8d8d;
}

.follow-us-cta:hover {
    color: #2a2a2a;
}

.follow-us-cta {
    display: block;
    margin-bottom: 22px;
} */
