:root {
    --title-color: #303030;
    --lighter-text-color: #9da4bd;
    --gray-text-color-60: rgba(157, 164, 189, 0.6);
    --darker-text-color: #555555;
    --accent-color: #ff6c00;
    --white: #ffffff;
    --transition-duration: 0.3s;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em;
}

/* Common styles - Загальні стилі */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0 auto;
}

.c-section {
    padding-top: 130px;
    padding-bottom: 130px;
}
.c-uptitle {
    margin-bottom: 20px;
    padding-left: 80px;
    font-size: 11px;

    color: var(--title-color);
    text-transform: uppercase;
    position: relative;
}
.c-uptitle > p {
    font-weight: 600;
    margin: 0;
}
.c-uptitle::before {
    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--title-color);
}
.c-title {
    font-family: "Raleway", sans-serif;
    color: var(--title-color);
    font-size: 42px;
    margin-bottom: 20px;
}
.c-text-14 {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.02em;

    color: var(--darker-text-color);
}
.c-text-14,
.c-text-18,
.c-title {
    margin-top: 0;
}
.c-text-18 {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--darker-text-color);
}

.c-btn {
    display: inline-flex;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    color: var(--white);
    padding: 12px 23px;

    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: all var(--transition-duration);
}
.c-btn--dark {
    color: var(--title-color);
}
.c-btn:hover {
    background-color: var(--accent-color);
    color: var(--white);
}
/* Common styles - Загальні стилі */

/* Hero section */
.hero {
    background-color: var(--white);
    min-height: 100vh;
    display: flex;
    width: 1280px;
    margin: 0 auto;
}
.hero-aside {
    display: flex;
    flex-direction: column;
    height: 100vh;

    align-items: center;
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}
.aside-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: auto;
    /* margin-top: auto; */
}
.aside-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;

    letter-spacing: 0.2em;

    color: var(--title-color);
    text-decoration: none;
    transition: all var(--transition-duration);
}
.aside-link:hover {
    color: var(--accent-color);
}

.aside-links > li:not(.line-decorator) {
    margin-bottom: 30px;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
}

.line-decorator {
    width: 1px;
    height: 60px;

    background: var(--title-color);
}
.hero-main {
    position: relative;
    background-image: url("../images/slider-1.jpg");
    background-color: rgba(25, 28, 38, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header {
    padding: 34px 40px;
    display: flex;
    /* justify-content: space-between; */
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
}
.header-nav {
    margin-right: auto;
}

.nav-item + .nav-item {
    margin-left: 40px;
}

.nav-item > .nav-link {
    color: var(--white);
    text-decoration: none;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 600;
    padding: 16px 0;
    display: block;
    transition: all var(--transition-duration);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-right: 55px;
    padding-left: 100px;
}
.hero-wrapper {
    margin-bottom: 140px;
}
.hero-uptitle {
    color: var(--gray-text-color-60);
}
.hero-uptitle::before {
    background-color: var(--gray-text-color-60);
}

.hero-title {
    font-size: 72px;
    letter-spacing: 0.05em;
    color: var(--white);

    margin-bottom: 20px;
    margin-top: 0;
}
.hero-description {
    color: var(--lighter-text-color);
    max-width: 486px;
}

.hero-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 55px;
    z-index: 1;
    transform: translateY(-50%);
}

.hero-bullet,
.hero-bullet > button {
    cursor: pointer;
}
.hero-bullet {
    width: 18px;
    height: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: all var(--transition-duration);
    display: flex;
}
.hero-bullet > button {
    background-color: transparent;
    background-color: var(--lighter-text-color);
    border: none;
    width: 8px;
    margin-left: auto;
    height: 100%;
}
.hero-bullet.active > button {
    background-color: var(--white);
    width: 18px;
}

.hero-controls {
    display: flex;
    justify-content: flex-end;
}
.control-btn {
    background-color: transparent;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3;

    letter-spacing: 0.1em;
    color: var(--gray-text-color-60);

    border: none;
    border-bottom: 1px solid var(--gray-text-color-60);
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 0;

    transition: all var(--transition-duration);
    cursor: pointer;
}

.control-btn:hover,
.control-btn:focus {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

.forward {
    margin-left: 25px;
    padding-right: 0;
    padding-left: 20px;
}
/* Hero section */

.best-barber > .container {
    display: flex;
}

.best-barber-left {
    flex: 1 1 500px;
    display: flex;
}
.best-barber-img:not(:first-child) {
    margin-left: 30px;
}
.best-barber-img > img {
    width: 100%;
}
.best-barber-right {
    flex: 1 1 500px;
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
}

.best-barber-right > .c-text-14 {
    margin-bottom: 40px;
}
.service {
    background-color: #111319;
    background-image: url("../images/service-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.service .c-uptitle {
    color: var(--gray-text-color-60);
}
.service .c-uptitle::before {
    background-color: var(--gray-text-color-60);
}
.service .c-title {
    color: var(--white);
    margin-bottom: 44px;
}

.service-tables {
    display: flex;
    margin-bottom: 50px;
}
.service-table {
    flex: 1 1 100%;
    list-style: none;
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 30px 40px;
    margin: 0;
}
.service-table:last-child {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.service-table-item {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    color: var(--lighter-text-color);
}
.service-table-item > p {
    margin: 0;
    white-space: nowrap;
    line-height: 1.6;
}
.service-dots {
    width: 100%;
    height: 100%;
    margin: 0 6px;
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}
.service-btn-conrainer {
    text-align: center;
}




.gallery-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
