/* Utils */
@import './utils/mixins';
@import './utils/variables';
/* Base */
@import './base/normalize';
@import './base/fonts';
@import './base/common';
/* Components */
@import './components/header';
@import './components/hero';
@import './components/best-barber';
@import './components/service';
@import './components/master';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.our-choice {
  background-color: $white;
  padding-top: 120px;
}

.our-choice > .container {
  display: flex;
  justify-content: center;
}

.our-choice__left,
.our-choice__right {
  display: flex;
}
.our-choice__left {
  list-style: none;
  padding: 0 100px;
  margin: 0;

  max-width: 570px;
  flex-wrap: wrap;
}
.our-choice__item {
  width: 170px;
  padding: 20px;

  color: $title-color;
  background-color: $biege-bg-color;
  text-align: center;
}
.our-choice__item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}
.our-choice__item:nth-child(2n - 1) {
  margin-bottom: 30px;
}
.our-choice__item .choice__title {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;

  margin-bottom: 6px;
}
.our-choice__item .choice__description {
  margin: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
.our-choice__item .plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  margin-left: 2px;

  color: $accent-color;
}
.our-choice__right {
  flex-direction: column;
  padding-left: 30px;
  max-width: 530px;
}
.our-choice__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.our-masters {
  background-color: $biege-bg-color;
}

.our-masters__title {
  color: $title-color;

  margin-top: 0;
  margin-bottom: 40px;
}

.masters {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.gallery__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery__uptitle {
  margin-bottom: 44px;
}

.works {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.work__img {
  display: block;
}

.work__example {
  transition: box-shadow $transition-duration;
}

.work__example:not(:last-child) {
  margin-right: 30px;
}

.work__example:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.contact-us {
  background-color: #191c26;
}

.contact-us > .container {
  display: flex;
}

.contact-us__left {
  width: 53%;
  padding-right: 40px;
}
.contact-us__left > .c-title {
  color: $white;
  margin-bottom: 44px;
}

.contact-us__form {
  display: flex;
  flex-wrap: wrap;
}

.contact-us__btn {
  min-width: 160px;
}

.input-group {
  position: relative;
  margin-bottom: 45px;
}

.input-group:nth-child(1),
.input-group:nth-child(2) {
  width: calc((100% - 30px) / 2);
}

.input-group:nth-child(2) {
  margin-left: 30px;
}
.input-group:nth-child(3) {
  width: 100%;
}

.input-group__input {
  height: 24px;
  width: 100%;

  padding-bottom: 8px;

  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;

  transition: border 0.3s;
  color: $white;
  background-color: transparent;
}

.input-group__input:focus {
  border-bottom: 1px solid $white;
}

.input-group__input:focus + .input-group__label,
.input-group__input:not(:placeholder-shown) + .input-label {
  transform: translate(0, -20px);
  color: $white;
}

.input-group__label {
  position: absolute;
  left: 0;
  top: 1px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
  transition: color 0.3s, transform 0.3s;
}

.input-group__input--textarea {
  resize: none;
  height: 75px;
}

.contact-us__left,
.contact-us__right {
  padding-top: 130px;
  padding-bottom: 130px;
}
.contact-us__right {
  width: 47%;
  background-image: url("../images/bg-contacts.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-left: 100px;
}
.contact-us__right .c-title {
  color: $white;
}

.address {
  display: block;
  margin-top: 40px;
  font-style: normal;
}

.address__link {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 20px;
  text-decoration: none;

  color: $lighter-text-color;
}

.address__link svg {
  margin-right: 20px;
  margin-top: 4px;
}

.timetable {
  margin-top: 70px;
}
.timetable .c-uptitle::before {
  background: rgba(157, 164, 189, 0.4);
}
.timetable__title {
  color: $white;
}
.timetable__hours {
  color: $lighter-text-color;
  font-size: 18px;
}

.footer {
  background-color: $biege-bg-color;
  padding: 56px 0;
}

.footer > .container {
  @include centeredFlex(space-between, center);
}

.footer__copyright {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;
  color: $lighter-text-color;
}

.footer__links {
  display: flex;
  position: relative;
  align-items: center;
}

.footer__links::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: $title-color;
}

.footer__link {
  @extend %transitionGrayLink;
  margin-left: 40px;
}

