/* Common styles - Загальні стилі */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0 auto;
}

.c-section {
    padding-top: 130px;
    padding-bottom: 130px;
}
.c-uptitle {
    margin-bottom: 20px;
    padding-left: 80px;
    font-size: 11px;

    color: $title-color;
    text-transform: uppercase;
    position: relative;
    &::before {
        content: "";
        width: 60px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $title-color;
    }
}
.c-uptitle > p {
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
}

.c-title {
    font-family: "Raleway", sans-serif;
    color: $title-color;
    font-size: 42px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}
.c-text-14 {
    font-size: 14px;
    line-height: 1.8;

    color: $darker-text-color;
}
.c-text-14,
.c-text-18,
.c-title {
    margin-top: 0;
}
.c-text-18 {
    font-size: 18px;
    line-height: 1.6;

    color: $darker-text-color;
}

.c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    border: 1px solid $accent-color;
    border-radius: 25px;
    color: $white;
    padding: 12px 23px;

    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: all $transition-duration;
    &--dark {
        color: $title-color;
    }
    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $white;
    }
}

/* Common styles - Загальні стилі */
