$title-color: #303030;
$biege-bg-color: #f7f7f7;
$lighter-text-color: #9da4bd;
$gray-text-color-60: rgba(157, 164, 189, 0.6);
$darker-text-color: #555555;
$accent-color: #ff6c00;
$white: #ffffff;
$transition-duration: 0.3s;
